@page "/employees/details"
@inject EmployeeManagementSystem.Data.EmployeeManagementSystemContext DB
@using EmployeeManagementSystem.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    @if (employee is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@employee.Name</dd>
            <dt class="col-sm-2">Salary</dt>
            <dd class="col-sm-10">@employee.Salary</dd>
            <dt class="col-sm-2">Experience</dt>
            <dd class="col-sm-10">@employee.Experience</dd>
        </dl>
        <div>
            <a href="@($"/employees/edit?id={employee.Id}")">Edit</a> |
            <a href="@($"/employees")">Back to List</a>
        </div>
    }
</div>

@code {
    Employee? employee;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        employee = await DB.Employee.FirstOrDefaultAsync(m => m.Id == Id);

        if (employee is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
